@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@font-face {
    font-family: 'VNF-Optima';
    src: url('../fonts/VNF-Optima.woff') format('woff'),
    url('../fonts/VNF-Optima.ttf') format('truetype'),
    url('../fonts/VNF-Optima.svg#VNF-Optima') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vnf-optima-regular';
    src: url('../fonts/vnf-optima-regular.eot');
    src: url('../fonts/vnf-optima-regular.woff2') format('woff2'),
    url('../fonts/vnf-optima-regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body a {
    text-decoration: none !important;
}
body{
    font-family: "Open Sans"!important;
}
h1.title-site, h2.title-site{
    font-family: "Open Sans";
}
.font-default{
    font-family: "Open Sans";
}
.title-campaigns {
    font-size: 16px;
    line-height: 1.9em;
}
.image-url.img-responsive.btn-block.radius-image:hover {
    opacity: 0.8;
}
.navbar.navbar-px .nav.navbar-nav.navbar-right {
    padding-top: 20px;
}
.session-active-cover .title-site.txt-left {
    font-size: 36px;
}
.session-active-cover {
    padding: 350px 0 300px!important;
}
.btn.btn-primary.pp.btn-block {
    display: none;
}
.navbar-inverse .navbar-nav > li > a {
    color: #000;
    text-transform: capitalize;
}
.navbar.navbar-inverse.navbar-px.padding-top-10.padding-bottom-10 {
    background: #fff none repeat scroll 0 0;
    padding: 20px 0 !important;
    position: relative;
}
.navbar.navbar-px .nav.navbar-nav.navbar-right {
    padding-top: 0;
}
.navbar-inverse .navbar-nav > li > a {
    color: #000;
    text-transform: capitalize;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #333 !important;
}
.navbar-brand {
    padding: 5px 15px;
    position: relative;
    top: -22px;
}
.nav.navbar-nav.navbar-right > li:first-child {
    float: right;
}
/*//slider*/
  .jumbotron-cover .title-site.txt-left {
      font-size: 50px;
  }
.jumbotron.index-header.jumbotron_set.jumbotron-cover.slider-home {
    padding: 550px 0 150px;
}
.index-header{
    background-attachment: fixed;
}
.krown-button.custom {
    background: #f45302 none repeat scroll 0 0;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding: 15px 50px;
}
.action-re {
    padding-top: 20px;
}
.footer-main {
    background-color: #1c1c1c;
    border-top: 1px solid #1c1c1c;
    color: white;
    padding: 30px 0;
    width: 100%;
}
.subfooter {
    background-color: #000;
    color: #797979;
}
.footer-main .list-unstyled > li {
    margin-bottom: 9px;
}
.footer-main .link-footer {
    color: #bebebe;
    font-size: 14px;
}
.footer-main p {
    color: #bebebe;
}
.margin-top-zero {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0 !important;
}
.owl-carousel {
    overflow: auto;
    z-index:99;
}
.owl-prev {
    left: 0;
    position: absolute;
    top: 34%;
    color: #fff;
    font-size: 0;
}
.owl-next {
    position: absolute;
    right: 0;
    top: 35%;
    color: #fff;
    font-size: 0;
}
.owl-prev::before {
    color: #000;
    content: "";
    font-family: FontAwesome;
    font-size: 20px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
}
.owl-next::before {
    color: #000;
    content: "";
    font-family: FontAwesome;
    font-size: 20px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    right: 0;
}
#campaigns.row {
    clear: both;
}
.img-circle.avatar-campaign {
    display: inline-block !important;
    height: 20px !important;
    width: 20px !important;
}
#campaigns .owl-nav {
    display: none;
}

#campaigns .owl-dot > span {
    background: #ddd none repeat scroll 0 0;
    border-radius: 50%;
    display: block;
    height: 10px;
    width: 10px;
}
#campaigns .owl-dot {
    display: inline-block;
    margin: 0 2px;
}
#campaigns .owl-dots {
    text-align: center;
}
#campaigns .owl-dot.active > span {
    background: #333 none repeat scroll 0 0;
}
.head-home h1 {
    font-size: 30px;
}
.campai .thumbnail {
    border-radius: 0;
}
.subfooter .col-md-12.text-center.padding-top-20 {
    padding: 20px 0 !important;
}
.subfooter .col-md-12.text-center.padding-top-20 > p {
    margin: 0;
}
.infoter .action-re {
    text-align: center;
}
.infoter .title-site {
    font-size: 50px;
}
.footer-main .form-group .form-control {
    background: #000 none repeat scroll 0 0;
    border: 1px solid #000;
    height: 45px;
    position: relative;
}
.footer-main .btn.btn-primary {
    background: #f45302 none repeat scroll 0 0;
    border: 1px solid #f45302;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height: 44px;
    left: -3px;
    position: relative;
}
.footer-main .form-inline {
    margin-bottom: 20px;
}
.active-navbar::after {
    background: red none repeat scroll 0 0;
    bottom: 5px;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 60px;
}
.active-navbar {
    box-shadow: 0 0 #f45302 !important;
}
.custom-rounded {
    border-radius: 5px;
}
i.up-bottom {
    background: #aeaeae none repeat scroll 0 0;
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
    opacity: 0.7;
    padding: 7px 13px;
}
div#topcontrol {
    bottom: 50px !important;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #000!important;
}
.dropdown-menu > li > a {
    clear: both;
    color: #333;
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.42857;
    padding: 6px 20px;
    white-space: nowrap;
}
.head-home h1 {
    position: relative;
}
.container.margin-bottom-40.header-home h1 {
    position: relative;
}
/*.head-home h1::before,*/
/*.container.margin-bottom-40.header-home h1:before{*/
    /*background: #333 none repeat scroll 0 0;*/
    /*bottom: -10px;*/
    /*content: "";*/
    /*height: 3px;*/
    /*left: 0;*/
    /*margin: 0 auto;*/
    /*position: absolute;*/
    /*right: 0;*/
    /*text-align: center;*/
    /*width: 100px;*/
/*}*/
.navbar-nav .dropdown-menu {
    min-width: 200px;
}
#formUpload > h4 {
    padding: 0 15px;
}
.box-footer {
    clear: both;
    padding: 0 15px;
}
.index-header {
    background: #d1d1d1 url("../img/header.png") no-repeat bottom / cover !important;
}
.jumbotron-cover::before {
    background: transparent none repeat fixed 0 0!important;
}
.list-unstyled-lienhe li {
    margin-bottom: 9px;
}
.navbar-brand > img {
    display: block;
    position: relative;
    top: 18px;
    width: 200px;
}
.footer-main .col-md-3 img {
    width: 200px;
}
.header-donation {
    padding: 50px 0 !important;
    position: relative;
}
.container.wrap-jumbotron.position-relative.text-center {
    bottom: 70px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
}
.fa.fa-cc-stripe {
    color: #6772e5;
}
.alert.alert-danger.display-none {
    clear: both;
}
.box-footer.text-center > p {
    font-size: 15px!important;
}
.action-re {
    clear: both;
}
.box-img {
    height: 130px;
}
.box-footer h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.title-site.footer {
    color: #000;
    font-size: 30px;
    margin-bottom: 50px;
    margin-top: 0 !important;
}
.jumbotron.jumbotron-bottom.margin-bottom-zero.jumbotron-cover.infoter {
    padding-top: 20px;
}
.create-cap {
    display: none;
}
.ho-tro.text-center {
    margin-bottom: 20px;
    margin-top: 0;
}
@media screen and (max-width: 767px) {
    #formUpload .form-group {
        width: 100%;
    }
    .navbar-brand > img {
        display: block;
        position: relative;
        top: 11px;
        width: 180px;
    }
    .jumbotron.index-header.jumbotron_set.jumbotron-cover.slider-home {
        padding: 320px 0 100px!important;
    }
    .slider-home .container.wrap-jumbotron.position-relative {
        padding-top: 0;
    }
    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: #000;
    }
    .navbar-inverse .navbar-nav > li > a {
        color: #fff;
        text-transform: capitalize;
    }
    .nav.navbar-nav.navbar-right > li:first-child {
        float: none;
    }
    .active-navbar::after {
        background: red none repeat scroll 0 0;
        bottom: 5px;
        content: "";
        display: block;
        height: 3px;
        left: 15px;
        margin: 0 auto;
        position: absolute;
        right: auto;
        width: 60px;
    }
    .jumbotron-cover .title-site.txt-left {
        font-size: 40px;
    }
    .infoter .title-site {
        font-size: 40px;
    }
    .footer-main .form-inline {
        margin-bottom: 20px;
        position: relative;
    }
    .footer-main .btn.btn-primary {
        background: #f45302 none repeat scroll 0 0;
        border: 1px solid #f45302;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        height: 44px;
        left: auto;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 9999;
    }
    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        background-color: transparent;
        color: #cdcdcd !important;
    }
    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
        background-color: transparent;
        color: #cdcdcd!important;
    }
    .navbar-brand > img {
        display: block;
        position: relative;
        top: 20px;
        width: 180px;
    }
}

@media screen and (max-width: 480px) {
    .session-active-cover .title-site.txt-center {
        font-size: 30px;
    }
    .subtitle-site {
        color: #fff;
        font-size: 17px !important;
        text-align: center;
    }

}