@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@font-face {
    font-family: 'VNF-Optima';
    src: url('../fonts/VNF-Optima.woff') format('woff'),
    url('../fonts/VNF-Optima.ttf') format('truetype'),
    url('../fonts/VNF-Optima.svg#VNF-Optima') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vnf-optima-regular';
    src: url('../fonts/vnf-optima-regular.eot');
    src: url('../fonts/vnf-optima-regular.woff2') format('woff2'),
    url('../fonts/vnf-optima-regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}


body{
    font-family: "Open Sans"!important;
}
h1.title-site, h2.title-site{
    font-family: "Open Sans";
}
.font-default{
    font-family: "Open Sans";
}
.title-campaigns {
    font-size: 16px;
    line-height: 1.9em;
}
.image-url.img-responsive.btn-block.radius-image:hover {
    opacity: 0.8;
}
.navbar.navbar-px .nav.navbar-nav.navbar-right {
    padding-top: 20px;
}
.session-active-cover .title-site.txt-left {
    font-size: 36px;
}